img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

/* HEADER */
.top-bar{
    background: #333333;
}

.account-action .btn{
    color: #ffffff}

.account-action .btn:hover{
    background: transparent;
    color: #ffffff}

/* NAVIGATION */
.nav.navbar-nav li a{
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

.nav.navbar-nav > li li{
    border-color: #eeeeee;
}

.navigation-bar{
    background: #ffffff;
}

.nav.navbar-nav li a{
    color: #676767;
}

.navbar-toggle,
#navigation .nav.navbar-nav li.open > a,
#navigation .nav.navbar-nav li > a:hover,
#navigation .nav.navbar-nav li > a:focus ,
#navigation .nav.navbar-nav li > a:active,
#navigation .nav.navbar-nav li.current > a,
#navigation .navbar-nav li.current-menu-parent > a,
#navigation .navbar-nav li.current-menu-ancestor > a,
#navigation .navbar-nav > li.current-menu-item  > a{
    color: #6ba72b;
    background: #ffffff;
}

.nav.navbar-nav li li a{
    color: #676767;
    background: #ffffff;
}

#navigation .nav.navbar-nav li > a.main-search:hover,
#navigation .nav.navbar-nav li > a.main-search:focus,
#navigation .nav.navbar-nav li > a.main-search:active{
    background: transparent;
}

#navigation .nav.navbar-nav li li a:hover,
#navigation .nav.navbar-nav li li a:active,
#navigation .nav.navbar-nav li li a:focus,
#navigation .nav.navbar-nav li.current > a,
#navigation .navbar-nav li li.current-menu-parent > a,
#navigation .navbar-nav li li.current-menu-ancestor > a,
#navigation .navbar-nav li li.current-menu-item  > a{
    color: #6ba72b;
    background: #ffffff;
}

/* BODY */
body[class*=" "]{
    background-color: #f5f5f5;
    background-image: url(  );
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 24px;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Ubuntu", sans-serif;
}

h1{
    font-size: 38px;
    line-height: 1.25;
}

h2{
    font-size: 32px;
    line-height: 1.25;
}

h3{
    font-size: 28px;
    line-height: 1.25;
}

h4{
    font-size: 22px;
    line-height: 1.25;
}

h5{
    font-size: 18px;
    line-height: 1.25;
}

h6{
    font-size: 13px;
    line-height: 1.25;
}

/* MAIN COLOR */
a, a:hover, a:focus, a:active, a:visited,
a.grey:hover,
.section-title i,
.blog-title:hover h4, .blog-title:hover h5,
.next-prev a:hover .fa,
.blog-read a, .blog-read a:hover, .blog-read a:active, .blog-read a:visited, .blog-read a:focus, .blog-read a:visited:hover,
.fake-thumb-holder .post-format,
.comment-reply-link:hover,
.category-list .icon,
.widget .category-list li:hover .icon,
.my-menu li.active a, .my-menu li:hover a,
.recipe-actions li:hover, .recipe-actions li:hover a
{
    color: #6ba72b;
}

/*.user-block-overlay{*/
    /*background: rgba( 107, 167, 43, 0.2 );*/
/*}*/

/*.link-overlay{*/
    /*background: rgba( 107, 167, 43, 0.8 );*/
/*}*/

/*.my-menu li.active, .my-menu li:hover,*/
/*.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th{*/
    /*background: rgba( 107, 167, 43, 0.06 );*/
/*}*/

.single-recipe:not(.author) .nav-tabs li.active:before{
    border-color: #6ba72b transparent;
}

blockquote,
.widget-title:after,
.next-prev a:hover .fa
{
    border-color: #6ba72b;
}

.my-menu li.active, .my-menu li:hover{
    border-left-color: #6ba72b;
}

table th,
.tagcloud a, .btn, a.btn,
.rslides_nav,
.form-submit #submit,
.nav-tabs > li > a:hover,
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus,
.panel-default > .panel-heading a:not(.collapsed),
.category-list li:hover .icon,
.dashboard-item .badge,
.ingredients-list li.checked .fake-checkbox,
.sticky-wrap,
.category-list a:hover .icon,
.pagination a,
.pagination a:visited,
.pagination a:active,
.pagination a:focus,
.pagination > span
{
    color: #ffffff;
    background-color: #6ba72b;
}

@media only screen and ( min-width: 768px ){
    .ingredients-list li:hover .fake-checkbox{
        color: #ffffff;
        background-color: #6ba72b;
    }
}

.tagcloud a:hover, .tagcloud a:focus, .tagcloud a:active,
.btn:hover, .btn:focus, .btn:active,
.form-submit #submit:hover, .form-submit #submit:focus, .form-submit #submit:active,
.pagination a:hover,
.pagination > span
{
    color: #ffffff;
    background-color: #333333;
}

.blog-read a, .blog-read a:hover, .blog-read a:active, .blog-read a:visited, .blog-read a:focus, .blog-read a:visited:hover{
    background: #ffffff;
    color: #6ba72b;
}

.copyrights{
    background: #333333;
    color: #ffffff;
}

.copyrights-share, .copyrights-share:visited{
    background: #ffffff;
    color: #333333;
}